p {
  margin: 0;
  font-size: 14px;
}

.pokemons {
  background-color: rgb(112, 201, 112);
  padding: 0 0 5px 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgb(64, 73, 64);
}

.pokemon-infos {
  padding-top: 10px;
}

.pokemon-imagem {
  text-align: center;
  padding: 5px;
  float: right;
}

.animate {
  width: 80px;
  height: 80px;
}

.title {
  margin-top: 10px;
}

.habilidades {
  margin: 5px 0;
  display: flex;
  justify-content: space-evenly;
}

/* FLOAT */
.pokemons-float {
  float: left;
  margin: 10px;
}

.animate-float {
  width: 80px;
  height: 80px;
}

.animation-0 {
  animation: animation-0 20s infinite alternate;
}

.animation-1 {
  animation: animation-1 20s infinite alternate;
}

.animation-2 {
  animation: animation-2 15s infinite alternate;
}

.animation-3 {
  animation: animation-3 27s infinite alternate;
}

.animation-4 {
  animation: animation-4 30s infinite alternate;
}

.animation-5 {
  animation: animation-5 16s infinite alternate;
}

@keyframes animation-0 {
  0% {
    transform: translate(0px, 0);
  }

  100% {
    transform: translate(0px, 70px);
  }
}

@keyframes animation-1 {
  0% {
    transform: translate(0, 0) scale(0.6);
  }

  100% {
    transform: translate(60px, 110px) scale(1);
  }
}

@keyframes animation-2 {
  0% {
    transform: translate(0, 0) scale(1.2);
  }

  100% {
    transform: translate(-10px, 220px) scale(0.8);
  }
}

@keyframes animation-3 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-20px, 200px);
  }
}

@keyframes animation-4 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(100px, -100px);
  }
}

@keyframes animation-5 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(60px, -80px);
  }
}
